<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue details</title>
</head>
<body>
    <h1>Issue to crack</h1>

    <form action="/issues/<%=issue.id%>" method="post">
      <input onChange="this.form.submit()" type="checkbox" id="<%=issue.id%>" 
        name="issue" <%=issue.completed ? "checked" : ''%> >
      <label for="<%=issue.id%>"><%=issue.name %></label>
      <p><%= issue.priority%></p>
      <p><%= issue.details%></p>
      <p><%= issue.time_start%></p>
      <p><%= issue.time_end%></p>
      <a href="/issues/">back</a>
    </form>

</body>
</html>